.navbar {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-event {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49447e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49447e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;

}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
.navbar-profile {
  position: relative;
}
.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 101;
  position: fixed;
  top: 10px;
  left: 7px;
}

.line {
  background-color: #ff6347;
  height: 3px;
  width: 18px;
  margin-bottom: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.open .line:nth-child(1) {
  transform: rotate(45deg);
  position: fixed;
  top: 15px; 
  height: 2px;
  width: 15px;
}

.menu-icon.open .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: fixed;
  top: 15px; 
  height: 2px;
  width: 15px;
 
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-event {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
  

}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-event {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-event {
    display: none;
  }
}


@media screen and (max-width: 426px) {
  /* Hamburger menu */
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
    position: fixed;
    top: 10px;
    left: 7px;
  }

  /* Mobile Menu Links */
  .navbar-event {
    display: none;
    width: 40%;
    z-index: 100;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #111122;
    text-align: left;
    padding-top: 53px;
    gap: 15px;
    border-radius: 0 5px 5px 0;
  }

  .navbar-event.active {
    display: flex;
    padding-left: 20px;
    color: white;
  }

}
